.btn {
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
  position: relative;
  display: inline-flex;
  align-items: center;
  flex: 0 0 auto;
  justify-content: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: 0.25s ease;
  vertical-align: middle;
  white-space: nowrap;
  text-decoration: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  // color: $white;
  border-radius: 5px;
  outline: 0;
  background-color: $primary;
  &:hover {
    box-shadow: 0 0 15px $black;

    background-color: rgba($black, 0.4);
  }
  &:not(.btn_round) {
    min-width: 64px;
    height: 36px;
    padding: 0 16px;
  }
  &__content {
    line-height: normal;
    position: relative;
    display: flex;
    align-items: center;
    flex: 1 0 auto;
    justify-content: inherit;
    color: currentColor;
    // color: inherit;
    .icon {
      color: currentColor;
    }
  }

  &_round {
    border-radius: 50%;
    background-color: transparent;
    // color: $white;
  }
  &_icon {
    min-width: 0;
    min-height: 0;
    padding: 2px;
  }
  &:active {
    transform: scale(0.95);
  }
}
