$primary: #e74c3c;
$grey: #d3dcdc;
$black: #1a1a1d;
$white: #fff;

$fs-md: 18px;
$fs-lg: 24px;

$border-radius: 8px;
$breakpoints: (
  xs: 320px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);
